<!DOCTYPE html>
<html lang="en" class="<%- config.classes.html.join(" ") %>">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- name %> | <%- config.site_name %></title>
    <link rel="stylesheet" href="<%- config.imports.css.join('"><link rel="stylesheet" href="') %>">
    <script src="<%- config.imports.js.join('"></script><script src="') %>"></script>
</head>
<body class="<%- config.classes.body.join(" ") %>">
    <!-- TODO: put your navigation, header, etc... here -->
    <main class="<%- config.classes.main.join(" ") %>">